extends ../layouts/layout.pug

block content
  div.container
    div(class="row")
      each product in products
        div(class="col-sm-1 col-md-5")
          div(class="card")
            img(src= product.imagePath class="card-img-top" alt= product.title)
            div(class="card-body")
              h5(class="card-title") #{product.title}
              p(class="card-text") #{product.description}
              div.clearfix
                div.price.text-center #{product.price}$
                  p= product._id
                  a(href="#" class="btn btn-success float-right") Buy
                  a(href=`/${product._id}` class="btn btn-secondary float-left") Details
