include ../layouts/layout.pug

block index
  .container#container
    div(id="notice" style="position: fixed; right: 0; z-index: 9999;")
    div(id="indexCarousel" class="mt-1 mt-xl-1 mt-lg-1 mt-md-1 mt-sm-1 carousel slide mb-1 carousel-fade" data-ride="carousel")
      ul(class="carousel-indicators")
        each image, i in banners
          unless i
            li(class="active" data-target="#demo" data-slide-to=i)
          else
            li(data-target="#demo" data-slide-to=i)
      div(class="carousel-inner rounded")
        each banner, index in banners
          div(class=`carousel-item ${!index ? 'active' : ''}` width="550" height="250")
            img(src=banner.imageBanner width="550" height="250")
            div(class="p-sm-1 pt-md-1 pb-md-1 pl-md-3 pr-md-3 pt-lg-2 pb-lg-2 pl-lg-3 pr-lg-3 text-block" style="width: 35%; font-size: 2vmin; padding: 5px 5px; line-spacing: 0.5rem") 
              h4(style="font-size: 3vmin;")= banner.infoTitle
              p= banner.infoDescription
            div(class="carousel-caption")
              h5= index + 1
      a(class="carousel-control-prev" href="#indexCarousel" data-slide="prev")
        span(class="carousel-control-prev-icon")
      a(class="carousel-control-next" href="#indexCarousel" data-slide="next")
        span(class="carousel-control-next-icon")

    div(class="row text-center")
      each product in products
        div(class="col-sm-12 col-lg-3 col-md-6 mb-2")
          div(class="card h-100")
            a(href=`/${product.title}`)
              img(class="card-img-top" src= product.imagePoster alt= product.title)
            div(class="card-body p-1")
              h5(class="card-title mb-0")
                a(class="text-body" href=`/${product.title}`) #{product.title}
              each genre in product.genre
                span(class="badge ml-1 badge-info") #{genre}
              p(class="card-text") #{product.price} $
            div(class="card-footer bg-dark")
              a(href=`/${product.title}` class="btn btn-info mr-1") Details
              a(id="addToCart" onclick=`addToCart("${product._id}", "${product.title}", "${product.imagePoster}", "${product.price}")` class="text-white btn btn-success") Add to cart
